*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Oswald;
    scroll-behavior: smooth;
    
}


:root{
    --neonPink: rgb(255, 62, 165);
    --backgroundCol:rgb(32, 37, 54);
}


body{
    background-color: var(--backgroundCol);
    min-height: 100vh;
}

section{
    min-height: 100vh;
    padding: 5% 10%;
}

/* styling for #home section*/
.logo{
    font-size: 2.3em;
    color: var(--neonPink);
    transition: 0.3s ease-in-out;
    opacity: 0.8;
    font-weight: 600;
}
.logo:hover{
    opacity: 1;
}

::-webkit-scrollbar{
    display: none;
}

nav{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 10%;
    box-shadow: 0px 3px 40px var(--neonPink);
    backdrop-filter: blur(5px);
    z-index: 1000;
}

ul{
    display: flex;
    gap: 3em;
    align-items: center;;
}

nav ul a{
    color: white;
    font-size: 1.4em;
    transition: 0.2s ease-in-out;
}

nav ul a:hover{
    border-bottom: 3px solid var(--neonPink);
    color: var(--neonPink);
}

nav ul a:active{
    transform: scaleY(1.2);
}
#menu{
    color: var(--neonPink);
    font-size: 2.5em;
    padding-top: 10px;
    display: none;
    transition: 0.07s ease-in-out;
}

#home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
    color: white;
}

.info-box{
    display:flex;
    flex-direction: column;
    max-width: 50%;
    gap: 1em;
    min-width: 400px;
}

.info-box h1{
    font-size: 4em;
    font-weight: 700;
    text-wrap:nowrap;
}

.info-box h3{
    font-size: 2em;
}

.info-box p{
    font-size: 1.2em;
    font-weight: 300;
}
.buttons{
    display: flex;
    align-items: center;
    gap: 1.5em;
    max-width: 100%;
    flex-wrap:wrap;
}
.buttons i{
    font-size: 3em;
    margin-right: 10px;
    color: var(--neonPink);
    vertical-align: bottom;
}

.buttons div{
    border: 2px solid white;
    padding: 0px 40px;
    border-radius: 15px;
    color: var(--neonPink);
    font-size: 2em;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.buttons div:hover{
    background-color: white;
    
}

.info-box .buttons i:hover{
    color: white;
}

.images{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.images img{
    width: 28vw;
    animation: slideUpDown 2s infinite alternate ease-in;
    filter: drop-shadow(0 2em 1.5em var(--neonPink));

}
#typewriteText{
    overflow: hidden;
    color: var(--neonPink);
    white-space: nowrap;
    border-right: 2px solid white; /* Simulates cursor */
    display: inline-block;
    vertical-align: bottom;
    width: 0; /* Start hidden */
    letter-spacing: 2px;
    animation: type 1.5s steps(7) infinite alternate, blink 0.6s step-end infinite;
}

@keyframes type{
    from{
        width: 0;
    }

    to{
        width: 8ch;
    }
}
@keyframes blink{
    50%{
        border-color: transparent;
    }
}

@keyframes slideUpDown{
    from{
        transform: translateY(-20%);
    };
}

@media(max-width: 900px){
    #menu{
        display: block;
        z-index: 1100;
    }
    #menu:active{
        transform:scaleX(1.3) scaleY(1.3);

    }
    .links{
        position: absolute;
        width: 100%;
        top: 100%;
        right: 0;
        padding: 1em 3em;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: rgba(0,0,0,0.5);
        display: none;
        z-index: 1;
    }

    .links a{
        margin: 1.7em;
        display: block;
        font-size: 1.5em;
        color: white;
    }
    .links.active{
        display: block;
    }

    .images img{
        display:none;
    }

}

/* styling for About page */
#about{
    padding: 5% 0;
}
header{
    text-align: center;
    padding-top: 70px;
}

header h1{
    color: white;
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 3em;
}
