*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Oswald;
    scroll-behavior: smooth;
    
}


:root{
    --neonPink: rgb(255, 62, 165);
    --backgroundCol:rgb(29, 25, 25);
}


body{
    background-color: var(--backgroundCol);
    min-height: 100vh;
}

section{
    min-height: 100vh;
    padding: 5% 10%;
}

/* styling for #home section*/
.logo{
    font-size: 2.3em;
    color: var(--neonPink);
    transition: 0.3s ease-in-out;
    opacity: 0.8;
    font-weight: 600;
}
.logo:hover{
    opacity: 1;
}

::-webkit-scrollbar{
    display: none;
}

nav{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 10%;
    box-shadow: 0px 3px 40px var(--neonPink);
    backdrop-filter: blur(5px);
    z-index: 1000;
}

ul{
    display: flex;
    gap: 3em;
    align-items: center;;
}

nav ul a{
    color: white;
    font-size: 1.4em;
    transition: 0.2s ease-in-out;
}

nav ul a:hover{
    border-bottom: 3px solid var(--neonPink);
    color: var(--neonPink);
}

nav ul a:active{
    transform: scaleY(1.2);
}

footer{
    display: flex;
    justify-content: space-around;
    padding: 4em 4em;
    color: white;
    max-width: 100vw;
    margin: auto;
    background-color: rgba(255, 62, 165, 0.358);
    
}

.footer-items{
    display:flex;
    flex-direction: row;
    font-weight: 100;

}
.footer-items h2{
    font-weight: 400;
    letter-spacing: 4px;
}

.footer-items i{
    font-size: 2em;
    margin-right: 20px;
    padding-top: 5px;
}

#menu{
    color: var(--neonPink);
    font-size: 2.5em;
    padding-top: 10px;
    display: none;
    transition: 0.07s ease-in-out;
}

#home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
    color: white;
}

.info-box{
    display:flex;
    flex-direction: column;
    max-width: 50%;
    position: relative;
    gap: 1em;
    min-width: 400px;
    opacity: 1;

}

@keyframes fadeRight{
    from{
        right: 300px;
        opacity: 0;
    }
    to{
        right: 0px;
        opacity: 1;
    }
}

@keyframes fadeDown{
    from{
        bottom: 300px;
        opacity: 0;
    }
    to{
        bottom: 0;
        opacity: 1;
    }
}

.info-box h1{
    font-size: 5em;
    font-weight: 700;
    text-wrap:nowrap;  
    position: relative;
    animation: fadeDown 2s ease-in-out forwards;
}

.info-box h3{
    font-size: 2em;
    position: relative;
    animation: fadeRight 2s ease-in-out forwards;
    
}

.info-box p{
    font-size: 1.7em;
    font-weight: 300;
    position: relative;
    animation: fadeRight ease-in-out 2s forwards;
}
.buttons{
    display: flex;
    align-items: center;
    gap: 1.5em;
    max-width: 100%;    
    flex-wrap:wrap;
    position: relative;
    animation: fadeRight 2s ease-in-out forwards;
}
.buttons i{
    font-size: 3em;
    margin-right: 10px;
    color: var(--neonPink);
    vertical-align: bottom;
}

.buttons div{
    border: 1px solid var(--neonPink);
    padding: 0px 40px;
    border-radius: 15px;
    color: var(--neonPink);
    font-size: 2em;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.buttons div:hover{
    background-color: white;
    color: var(--backgroundCol);
    
}

.info-box .buttons i:hover{
    color: white;
}

.images{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.images img{
    width: 28vw;
    animation: slideUpDown 2s infinite alternate ease-in, appear 2s ease-in-out forwards;;
    filter: drop-shadow(0 2em 1.5em var(--neonPink));
}

@keyframes appear{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
#typewriteText{
    overflow: hidden;
    color: var(--neonPink);
    white-space: nowrap;
    border-right: 2px solid white; /* Simulates cursor */
    display: inline-block;
    vertical-align: bottom;
    width: 0; /* Start hidden */
    letter-spacing: 2px;
    animation: type 1.5s steps(7) infinite alternate 1.7s, blink 0.6s step-end infinite 1.7s;
}

@keyframes type{
    from{
        width: 0;
    }

    to{
        width: 8ch;
    }
}
@keyframes blink{
    50%{
        border-color: transparent;
    }
}

@keyframes slideUpDown{
    from{
        transform: translateY(-20%);
    };
}

@media(max-width: 900px){
    #menu{
        display: block;
        z-index: 1100;
    }
    #menu:active{
        transform:scaleX(1.3) scaleY(1.3);

    }
    .links{
        position: absolute;
        width: 100%;
        top: 100%;
        right: 0;
        padding: 1em 3em;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: rgba(0,0,0,0.5);
        display: none;
        z-index: 1;
    }

    .links a{
        margin: 1.7em;
        display: block;
        font-size: 1.5em;
        color: white;
    }
    .links.active{
        display: block;
    }

    .images img{
        display:none;
    }

}

/* styling for About page */
#about-box{
    padding: 5% 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    animation: appear 1s ease-in-out forwards;
    
}

@keyframes appear{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

#about-box h1{
    font-size: 3em;
}
.about-header{
    padding-top: 170px;
    text-align: center;
    font-size: 1.5em;
    color: white;
}

.column-middle{
    width: 50%;
    padding: 20px;
    color: white;
    font-size: 1.5em;
    min-width: 400px;

}
.column-middle h4{
    color: var(--neonPink);
}

#skills{
    display: flex;
    align-items: center; 
    gap: 3em;
    color: var(--neonPink);
}

.skills-title{
    min-width: 50%;
    text-align: center;
    font-size: 9em;
    letter-spacing: 3px;
}

.skills-title h1{
    display: inline-block;
    border-bottom: 5px solid var(--neonPink);
}

.skills-box{
    min-width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

.skills-box ul{
    display: flex;
    flex-direction: column;
    font-size: 3em;
    align-items: baseline;
}

.skills-box ul li{
    letter-spacing: 4px;
    transition: 0.3s ease-in-out;
}

.skills-box ul li:hover{
    transform: translateX(10px);
}


.skills-box ul li i{
    margin-right: 10px;
    color: white;
}

/* styling for Contact page */
#contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#contact h1{
    color: var(--neonPink);
    margin-bottom: 20px;
    font-size: 2em;
}

.contact-container{
    display: flex;
    min-width: 43%;
    height: 30%;
    box-shadow: 0px 3px 40px var(--neonPink);
    border-radius: 20px;
    padding: 1% 5%;

}
.contact-container form label{
    font-size: 2rem;
    margin-top: 100px;
    color: var(--neonPink);
    
}
.contact-container form input{
    font-size: 2rem;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 5px 10px;
}

.contact-container form textarea{
    font-size: 2rem;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 5px 10px;
}
.contact-container form input:focus{
    border: 1px solid var(--neonPink);
}
.contact-container .btns{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
}

.contact-container .btns input{
    width: 30%;
    text-align: center;
    background-color: var(--neonPink);
}